<nav class="sidebar">
  <div id="sidebar_logo">
    <%= link_to "/" do %>
      <%= image_tag "Bahnhofottos_logo.png", alt: "Bahnhofottos Logo"%>
    <% end %>
  </div>
  <%= link_to "Map", map_path %>
  <%= link_to "Account", map_path %>
  <%= link_to "Friends", map_path %>
  <%= link_to "Settings", map_path %>
</nav>