<nav class="sidebar">
  <div id="sidebar_logo">
    <%= link_to "/" do %>
      <%= image_tag "Bahnhofottos_ohneBackgr.png", alt: "Bahnhofottos Logo"%>
    <% end %>
  </div>

  <%= link_to root_path do %>
    <i class="fa-solid fa-message"></i>
  <% end %>
  <%= link_to map_path do %>
    <i class="fa-solid fa-map"></i>
  <% end %>
  <%= link_to friends_path do %>
    <i class="fa-solid fa-user-group"></i>
  <% end %>
  <%= link_to profile_path do %>
    <i class="fa-solid fa-user"></i>
  <% end %>

  <%= link_to settings_path do %>
    <i class="fa-solid fa-gear"></i>
  <% end %>
  <%= link_to info_path do %>
    <i class="fa-solid fa-circle-info"></i>
  <% end %>
</nav>