<div class="user_forms_wrapper">
  <h2>Reset your password</h2>
  <%= form_with model: @user, url: auth_reset_edit_path(token: params[:token]), data: { turbo: false } do |f|%>

    <%if f.object.errors.any? %>
      <div class="form_errors">
        <ul>
          <% f.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <%end %>

    <div class="form_field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="form_field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions"><%= f.submit "Reset password" %></div>
  <%end %>
</div>