<h1>Settings</h1>

<%= button_to "Edit Password", edit_password_path, class: "button main_button", method: :get%>
<button id="changeUsernameBtn" class="button main_button">Change Username</button>

<div id="changeUsernameForm" class="hidden popup_form">
  <%= form_with model: Current.user, url: users_change_name_path, data: { turbo: false } do |f|%>
    <div class="form_field">
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>
    <div class="actions"><%= f.submit "Change Username" %></div>
  <%end %>
</div>
<%= javascript_include_tag "/javascripts/user_settings" %>

<%= button_to "Delete user", destroy_user_path, class: "button main_button", method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }%>
<%= button_to "Log out", logout_path, class: "button main_button", method: :delete%>