<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bahnhofottos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-visit-control" content="reload">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'Ottos.ico' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin="">
    </script>
    <script src="https://kit.fontawesome.com/a278264288.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag "/javascripts/leaflet-providers" %>

    <%= javascript_importmap_tags%>
    <%= yield :head %>
  </head>

  <body>
    <%= render partial: "shared/sidebar" %>
    <div class="outer_wrapper">
      <!--notice and alert tags necessary for devise-->
      <p class="notice"><%= notice %></p> 
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
