<!DOCTYPE html>
<html>
  <head>
    <title>Bahnhofottos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'Ottos.ico' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin="">
    </script>

    <% if @page_libs&.include?(:leaflet) %>
      <script type="text/javascript" src="<%= "/javascripts/lib/map_functions.js" %>" defer></script>
    <% end %>
    <%= javascript_importmap_tags%>
  </head>

  <body>
    <div class="outer_wrapper">
      <%= yield %>
    </div>
  </body>
</html>
